# bot
DISCORD_TOKEN=

# discord
GUILD_ID=
CATEGORY_TICKETS_ID=
CUPONS_BANNER_URL=
CANAL_CUPONS_ID=
STAFF_ROLE_ID=
CANAL_EVOLUCAO_ID=
CANAL_AVALIACOES_ID=
CANAL_LOGS_COMPRAS_ID=
CANAL_ESTOQUE_ID=
CANAL_ESTOQUE_PUBLICO_ID=
ESTOQUE_BAIXO_LIMITE=#padrao 3000
PEDIDO_EXPIRA_MINUTOS=30
CANAL_LOGS_PEDIDOS_EXPIRADOS_ID=
CANAL_VENDAS_ID=
CANAL_LOGS_STAFF_ID=

# cargos
CARGOS_EM_TESTE=true

ROLE_SAPO_ID=
ROLE_COELHO_ID=
ROLE_CERVO_ID=
ROLE_LOBO_ID=
ROLE_CORUJA_ID=
ROLE_TIGRE_ID=

# mercado pago
MERCADO_PAGO_TEST_MODE=true

MERCADO_PAGO_ACCESS_TOKEN=
PORT=
MERCADO_PAGO_WEBHOOK_SECRET=

