# bot
DISCORD_TOKEN=

# discord
GUILD_ID=
CATEGORY_TICKETS_ID=
STAFF_ROLE_ID=

# cargos
CARGOS_EM_TESTE=true

ROLE_SAPO_ID=
ROLE_COELHO_ID=
ROLE_CERVO_ID=
ROLE_LOBO_ID=
ROLE_CORUJA_ID=
ROLE_TIGRE_ID=

# mercado pago
MERCADO_PAGO_TEST_MODE=true

MERCADO_PAGO_ACCESS_TOKEN=
PORT=
MERCADO_PAGO_WEBHOOK_SECRET=

